.contact101-container10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact101-max-width1 {
  align-self: center;
}
 
.contact101-content1 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image1 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text10 {
  text-align: center;
}
 
.contact101-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink1 {
  text-decoration: none;
}
 
.contact101-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image2 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text12 {
  text-align: center;
}
 
.contact101-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink2 {
  text-decoration: none;
}
 
.contact101-max-width2 {
  align-self: center;
}
 
.contact101-content2 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image3 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text14 {
  text-align: center;
}
 
.contact101-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink3 {
  text-decoration: none;
}
 
.contact101-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image4 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text16 {
  text-align: center;
}
 
.contact101-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink4 {
  text-decoration: none;
}
 
.contact101-max-width3 {
  align-self: center;
}
 
.contact101-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image5 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text18 {
  text-align: center;
}
 
.contact101-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink5 {
  text-decoration: none;
}
 
.contact101-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image6 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text20 {
  height: auto;
  text-align: center;
}
 
.contact101-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink6 {
  text-decoration: none;
}
 
.contact101-text22 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text23 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text24 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text25 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text26 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text27 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text28 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text29 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text30 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text31 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text32 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.contact101-text33 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact101-content1 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .contact101-content2 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .contact101-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .contact101-text24 {
    color: var(--dl-color-theme-secondary1);
  }
  .contact101-text30 {
    color: var(--dl-color-theme-secondary1);
  }
  .contact101-text32 {
    color: var(--dl-color-theme-secondary1);
  }
}
 
@media(max-width: 767px) {
  .contact101-image1 {
    width: 100%;
  }
  .contact101-image2 {
    width: 100%;
  }
  .contact101-image3 {
    width: 100%;
  }
  .contact101-image4 {
    width: 100%;
  }
  .contact101-image5 {
    width: 100%;
  }
  .contact101-image6 {
    width: 100%;
  }
}
