.contact-form5-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form5-section-title {
  gap: var(--dl-layout-space-unit);
  align-items: center;
}
 
.contact-form5-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form5-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
}
 
.contact-form5-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form5-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.contact-form5-text-input1 {
  height: var(--dl-layout-size-small);
}
 
.contact-form5-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form5-text-input2 {
  height: var(--dl-layout-size-small);
}
 
.contact-form5-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form5-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.contact-form5-text-input3 {
  height: var(--dl-layout-size-small);
}
 
.contact-form5-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form5-text-input4 {
  height: var(--dl-layout-size-small);
}
 
.contact-form5-container3 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form5-button {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  width: 253px;
  align-self: center;
  text-align: center;
  border-color: var(--dl-color-theme-primary1);
  background-color: fff44f;
}
 
.contact-form5-action1 {
  fill: #1e0d0e;
  color: rgb(30, 13, 14);
  font-size: 24px;
}
 
.contact-form5-text2 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .contact-form5-container1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form5-input1 {
    width: 50%;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-form5-text-input1 {
    width: 100%;
    height: var(--dl-layout-size-small);
  }
  .contact-form5-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form5-text-input2 {
    height: var(--dl-layout-size-small);
  }
  .contact-form5-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form5-input3 {
    width: 50%;
    padding-bottom: var(--dl-layout-space-unit);
  }
  .contact-form5-text-input3 {
    height: var(--dl-layout-size-small);
  }
  .contact-form5-input4 {
    width: 50%;
  }
  .contact-form5-text-input4 {
    height: var(--dl-layout-size-small);
  }
  .contact-form5-container3 {
    width: 100%;
  }
  .contact-form5root-class-name {
    height: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form5-textarea {
    flex: 1;
  }
}
 
@media(max-width: 479px) {
  .contact-form5-form {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form5-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form5-input1 {
    width: 100%;
  }
  .contact-form5-input2 {
    width: 100%;
  }
  .contact-form5-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form5-input3 {
    width: 100%;
  }
  .contact-form5-input4 {
    width: 100%;
  }
}
